@model MoneyRemittance.web.Models.CreateContactUsViewModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="div-header-wrapper"><h3 class="header">Contact Us</h3></div>
    <div class="div-contact-wrapper">
        <span>
            @Html.TextBoxFor(model => model.FName, new { @class = "main-editor-for", @placeholder = @Html.DisplayNameFor(model => model.FName), @id = "fname" })
        </span>
        <span>@Html.ValidationMessageFor(model => model.FName)</span>
    </div>
    <br />
    <div class="div-contact-wrapper">
        <span>
            @Html.TextBoxFor(model => model.LName, new { @class = "main-editor-for", @placeholder = @Html.DisplayNameFor(model => model.LName), @id = "lname" })
        </span>
        <span>@Html.ValidationMessageFor(model => model.LName)</span>
    </div>
    <br />
    <div class="div-contact-wrapper">
        <span>
            @Html.TextBoxFor(model => model.Email, new { @class = "main-editor-for", @placeholder = @Html.DisplayNameFor(model => model.Email), @id = "email" })
        </span>
        <span>@Html.ValidationMessageFor(model => model.Email)</span>
    </div>
    <br />
    <div class="div-contact-wrapper">
        <span>
            @Html.TextBoxFor(model => model.Topic, new { @class = "main-editor-for", @placeholder = @Html.DisplayNameFor(model => model.Topic), @id = "topic" })
        </span>
        <br />
        <span>@Html.ValidationMessageFor(model => model.Topic)</span>
    </div>
    <br />
    <div class="div-contact-wrapper">
        <span>
            @Html.TextBoxFor(model => model.Details, new { @id = "issue-detail", @placeholder = @Html.DisplayNameFor(model => model.Details) })
        </span>
        <br />
        <span>@Html.ValidationMessageFor(model => model.Details)</span>
    </div>
    <br />
    <br />
    <div class="div-send-button-container">
        <input type="submit" value="Send Mesage" class="input-submit" />
    </div>
    <div class="div-cancel-button-container">
        <input type="submit" value="Cancel" class="input-submit" />
    </div>
}